html {
  font-family: 'Source Sans Pro', sans-serif;
  // background-image: url("./tree.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  // background-color: aliceblue;
}

h1 {
  // justify-text: center;
}

.content {
  grid-area: content;
  border: 5px solid black;
}

.weatherDiv {
  border: 5px solid black;
}

.todoDiv {
  border: 5px solid black;
}

.time {
  border: 5px solid black;
  // text-justify: center;
}

.name {
  border: 5px solid black;
}
.main-left {
  grid-area: main-left;
  border: 5px solid black;
}
.news {
  grid-area: news;
  border: 5px solid black;
}
.jokes {
  grid-area: jokes;
  border: 5px solid black;
}
.quote {
  grid-area: quote;
  border: 5px solid black;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    
    "main-left"
    "content"
    "news"
    "jokes"
    "quote";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      
      "main-left     main-left"
      "news content"
      "jokes      quote";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     
      "main-left    content news"
      "main-left    content jokes"
      "quote quote  quote"
   }
   nav ul {
     flex-direction: column;
   }
}